# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Variables de entorno
.env

# Datos de usuarios
user_data/
*.json
*.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

